body{ /* fallback */ 
background: rgb(58, 113, 163);
	font-family: Helvetica, Arial, Sans-Serif;
}
header
{
	width:100%;
	background-color: white;
	height:70px;
	overflow: visible;
	display: block;
}

/* Navigation CSS */

.top-bar
{
	height:61px;
	background-color:white;
	line-height: 45px;
}

legend
{
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.top-bar-section
{
	background-color: white;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: white;
}
.top-bar-section ul li>a
{
	color: rgb(62, 148, 192);
	font-weight: bold;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
background: #ffffff;
color:rgb(11, 152, 93);
}

.top-bar-section ul li
{
	background-color: white;
}

.top-bar-logo
{
	z-index: 99999999;
	background-repeat: no-repeat;
	background-color: blue;
	height:61px;
	width: 61px;	
	opacity: 2;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 0 8px 6px -6px black;
}

.top-bar.expanded .title-area{
background: #FFF;
height:61px;
}
.top-bar-section ul
{	
	width:auto;
}

.top-bar .toggle-topbar.menu-icon a
{
	color:rgb(62, 148, 192);
}
.top-bar .toggle-topbar.menu-icon a span::after
{
box-shadow: 0 0px 0 1px rgb(62, 148, 192),0 7px 0 1px rgb(62, 148, 192),0 14px 0 1px rgb(62, 148, 192);
}

.top-bar.expanded .title-area {
background: #FFF;
}

.top-bar-section ul li a
{
	-webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
padding: 12px;
}

.top-bar-section ul
{
	-webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}
/* Login Form CSS */
.login-buttons-dropdown-align-
{
	margin-top:5em;
	margin-left: 3em;
	color: white;
}

#login-buttons a
{
	color: rgb(57, 108, 219);
text-decoration: none;
}

#login-buttons a:hover
{
	color:rgb(11, 152, 93);
}

#login-buttons .configure-button
{
	background:rgb(11, 152, 93);
	border-color: rgb(11, 152, 93);
	width:20em;
	margin-top:10px;
	border-radius: 4px;
	padding-left: 4px;
}

.lbl-email,.lbl-pwd
{
color: white;
}

fieldset
{
	-webkit-box-shadow:0 0 20px black; 
	-moz-box-shadow: 0 0 20px black; 
	box-shadow:0 0 20px black;
	margin: 1.25rem 1em; 	
}

fieldset legend
{
	border-radius: 4px;
	color:rgb(11, 152, 93);
	height: 2em;
	padding-top: 3px;
	-webkit-box-shadow:0 0 20px black; 
	-moz-box-shadow: 0 0 20px black; 
}

.login-link-and-dropdown-list 
{
	background: white;
	width:50em;
	padding: 2em;
	-webkit-box-shadow:0 0 20px black; 
	-moz-box-shadow: 0 0 20px black; 
	box-shadow:0 0 20px black;
	position: relative;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;

}
#login-buttons .configure-button:active, #login-buttons .configure-button:hover
{
	background: rgba(17, 78, 137, 0.73);
	border-color:rgba(17, 78, 137, 0.73);
}

#login-username-or-email-label,#login-password-label
{
	color: rgb(57, 108, 219);
}

#login-username-or-email,#login-password
{
	color: rgb(11, 152, 93);
	width:20em;
}

@media screen and (max-width: 50em)
{
	.lbl-email input,.lbl-pwd input
	{				
		width:15em;			
	}
	.lbl-email,.lbl-pwd
	{
		width: 15em;
	}
	#login-buttons .configure-button
	{
		width: 15em;
	}
}


/* Body content */

.cell
{
margin-left: auto;
margin-right: auto;
max-width: 75em;
position: relative;
}
.well
{
	margin-bottom: 1.25em;
margin-top: 1.25em;

}

.tci
{
	color: white;
	font-weight: bold;

}

.tac
{
	text-align: center;
}
.pts
{
	padding-top: 0.625em;
}
.mbl--m {
margin-bottom: 2.5em;
}
div
{
	display: block;
}
.mbm
{
	margin-bottom: 1.25em;
}
.mbf{
	margin-bottom: 0;
}
h1
{
	font-size: 200%;
}



.update-zeal
{
	width:100%;
	box-sizing: border-box;
	float: left;
	margin-top: 4em;
	padding-left: 15px;
	padding-right: 15px;
	height: 200px;		
}

.update-zeal-disp
{
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	padding: 0.3125em;
	background-color: white;
	border-radius: 3px;
	position: relative;
	height: 100%;
		-webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 20px black;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
  -webkit-box-shadow:0 0 20px black; 
-moz-box-shadow: 0 0 20px black; 
box-shadow:0 0 20px black;

}

.update-zeal-change
{
	margin: 3px;
	background-color: rgba(55, 71, 82, 1);
	height:96.5%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;	
}
.update-zeal-change h1
{	
	color: white;
	font-weight: bold;
	padding: 5px;
	padding-top: 1em;
	text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}


.content
{
	display: block;
margin-left: -15px;
margin-right: -15px;
margin-bottom: 5em;
}

.feature-zeal
{
width: 100%;
float: left;
box-sizing:border-box;
margin: 0;
padding-left: 15px;
padding-right: 15px;
}

.feature-zeal p
{
	font-size: 130%;
	font-family: "OpenSansLight",Helvetica,Arial,sans-serif;
	margin-top: 4.5em;
	margin-bottom: 1.25em;
}

.course-highlight
{
	list-style-type: none;
margin-left: 0;
padding: 0;
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

.column-change-row
{
width:100%;
}


.list-item--label
{
	list-style-type: none;
	margin-top: 0.3125em;
	font-size: 85%;
font-weight: bold;
margin-right: 0.5em;
float: left;
margin-bottom: 0.625em;
text-transform: uppercase;
}

.list-item
{
	display: block;
}
.tag {
background: #d9d7d5;
border: 0;
border-radius: 3px;
font-size: 75%;
font-weight: bold;
padding: 0.7em 0.9375em;
text-transform: uppercase;
z-index: 2;
}
.tag--history
{
background: rgb(50, 44, 44);;
color: white;
}

.list-item a
{
color: white;
text-decoration: none;
-webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}

.list-item a:hover
{
	color:white;
	background: darkgray;
	-webkit-box-shadow:0 0 20px black; 
-moz-box-shadow: 0 0 20px black; 
box-shadow:0 0 20px black;
}

.interactive-content
{
	height:22em;
	width: 100%;
	background-color: white
}
.course-tile
{
	display:block;
}
.course-tile div
{	
	border-radius: 3px;
	padding: 14px;
	display: block;
}
.course-tile div div
{
	background-color: white;
}
.learnteach-tile div div
{
background-color: white;
}
.learnteach-tile div
{	
	border-radius: 3px;
	padding: 14px;
	display: block;
}
.course-tile #geography-tile,#history-tile,#political-tile,#economics-tile
{
	margin:auto;
	z-index: 99999999;
	background-repeat: no-repeat;	
	opacity: 2;
	text-align: center;
	display: block;
}

.learnteach-tile #learn-tile,#teach-tile 
{
	text-align: center;
	display: block;
}

.course-explore
{
	text-align: center;
	margin-top: 0.5em;
}

.course-explore a:hover
{
color: green;
}

.course-tile > div {
    display: block
}
.course-explore:hover{
-webkit-box-shadow: 0px 0px 15px 5px rgb(59, 86, 110);
-moz-box-shadow: 0px 0px 15px 5px rgb(59, 86, 110);
box-shadow: 0px 0px 15px 5px rgb(59, 86, 110);  
-webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}

.features
{
	background-color: white;
	padding: 20px;
}

.footer
{
	background-color: rgb(225, 234, 229);
	padding: 10px;
}

.footer-content
{
	margin-top: 10px;
	margin-left:60px;
	font-size: 14px;
}

.footer-content-second-row
{
	margin-left:40px;
	font-size: 14px;
}

.footer-content-logo-desc
{
	margin: 20px;
	font-size: 14px;
}

.learn-list,.community-list,.about-list,.author-list
{
	font-size: 14px;
	display: block;
	list-style-type: none;
}
.footer li:first-child
{
	font-weight: bold;
}

.footer-glow
{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.footer-logo
{
	width:50px;
	height: 50px
}
.footer-logo-content
{
	display: inline-block;
	font-size: 14px;
	margin-left: 5px;
}


.webicon {
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px; }

.webicon:hover {
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 0 8px 15px -6px black;
-webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out; }

.webicon.small {
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.webicon.large {
  width: 48px;
  height: 48px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

/* restore webicons accessibility for print */
@media print {
  * {
      background: transparent !important;
      color: #000 !important;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }
  .webicon {
    text-indent: 0;
    width: auto !important;
    height: auto !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
}

.icon-align
{
margin-left: 10px;
}

.social-icon
{
	margin-top:20px;
}
.facebook {
  background: url("images/webicons/webicon-facebook.png");
  }

.no-svg .webicon.facebook.large {
  background: url("images/webicons/webicon-facebook.png"); }

.no-svg .webicon.facebook.small {
  background: url("images/webicons/webicon-facebook-s.png"); }

.svg .webicon.facebook {
  background: url("images/webicons/webicon-facebook.svg"); }

 .googleplus {
  background: url("images/webicons/webicon-googleplus.png");
  }

.no-svg .webicon.googleplus.large {
  background: url("images/webicons/webicon-googleplus.png"); }

.no-svg .webicon.googleplus.small {
  background: url("images/webicons/webicon-googleplus-s.png"); }

.svg .webicon.googleplus {
  background: url("images/webicons/webicon-googleplus.svg"); }

  .smGlobalBtn
  {
  	margin-bottom:20px;
  }

  .smGlobalBtn i{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    background-color: #999;
}


.smGlobalBtn i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.smGlobalBtn {
    margin: 0;
    padding: 0;
}

.smGlobalBtn ul {
    margin: 0;
    padding: 5px;
}

.smGlobalBtn ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.smGlobalBtn .fi-social-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.smGlobalBtn .fi-social-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.smGlobalBtn .fi-social-blogger:hover { /* round blog icon*/
    background: #e64522;
}

.smGlobalBtn .fi-mail:hover { /* round mail icon*/
    background: #FF1F25;
}

.smGlobalBtn .fi-social-pinterest:hover { /* round pinterest icon*/
    background: #cb2027;
}

.smGlobalBtn .fi-social-youtube:hover { /* round youtube icon*/
    background: #FF1F25;
}


/*CSS for Teach Template*/
.teacher-register
{
	margin-top: 10px;
}


/*CSS for Learn Template*/
.learn-description,.learn-review
{
	margin-top: 10px;
}
.desc-content
{
	margin-left: 20px;
}
#ins-tile
{
	text-align: center;
	display: block;
	margin-bottom: 10px;
}

.more
{
	text-align: center;
	margin-top: 20px;
}

.left-border
{
	border-left:10px solid rgb(58, 113, 163);
}








