
@font-face {
    src: url(VarelaRound-Regular.ttf);
}

body
{
	font-family: varela round;
}

.heading-image
{
	position: absolute;
	top:10%;
	color: black;
	left:15%;
}
.heading-image 

h1
{
	color: black;
}
.learn-teach-interactive-content,.forgot-pwd
{
	height:17em;
	width: 100%;
}
.home-top
{
	margin-top:1em;
}

.global-background
{
	background-color: white;
}
.heading
{
	padding: 20px;
}

input[type="text"]:focus, textarea:focus
{
	border: 1px solid #3A71A3;
	box-shadow: 0 0 5px #3A71A3;
}

fieldset input[type="text"]:focus,input[type="password"]:focus, textarea:focus
{

	border: 1px solid #3A71A3;
	box-shadow: 0 0 5px white;
}

.right
{
	float: right;
}
.top-margin
{
	margin-top: 20px;
}
.left-margin
{
	padding-left: 110px;
}
div .author-name
{
	text-align: center;
	padding-top: 5px;
}

.center
{
	text-align: center;
}

.bottom
{
	margin-bottom: 20px;
}

#menu-list
{
margin-top: 20px;
margin-right: 20px;
}

#menu-list li a
{
	font-size: 10pt;
	color: black;
	font-family: varela round;
	text-transform: uppercase;
	font-weight: normal;
	padding-left: 25px;
    padding-right: 25px;
}

#menu-list li a:hover
{
	color:rgb(11, 152, 93);
}

#menu-list li .login
{
color: white;
}

#learn-menu,#teach-menu
{
	display: initial;
	border-right: 2px solid black;    
    height: 10px;
    vertical-align: middle;
}

#menu-list li:hover>#learn-menu,#teach-menu
{
	background-color: white;
}

.top-bar-section ul li
{
	background:white;
}

/*

Fonts Used: Varela Round (google web font)

Header: 8pt
Body: 3.5pt
Body Header: 3.8 (Caps) 
Spec: 4pt
Footer Header: 3.5 (Caps)
Footer Body: 3.2 
Footer Side Headding: 8pt
*/
